# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds
/app.*.symbols

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/google-services.json
**/android/**/hash_key.txt

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/GeneratedPluginRegistrant.*

# CMake/Ninja build files
**/.cxx/
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
**/build.ninja
**/rules.ninja
**/.ninja_deps
**/.ninja_log
**/android_gradle_build.json
**/android_gradle_build_mini.json
**/prefab_config.json
**/symbol_folder_index.txt
**/build_file_index.txt
**/metadata_generation_command.txt
**/configure_fingerprint.bin
**/additional_project_files.txt
**/cache-v2*
**/cmakeFiles-v1*
**/codemodel-v2*
**/*.bin
**/*.o

# Firebase
**/firebase_options.dart

# Generated plugin registrants
**/generated_plugin_registrant.*
**/GeneratedPluginRegistrant.*

# IDE files
.idea/
.vscode/
*.swp
*.swo
*.iml
*.ipr
*.iws
.DS_Store
